$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    padding: 2rem;
    line-height: 1.7;
}

.header {
    position: relative;
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.85), rgba($color-primary-dark, 0.85)) , url(../IMAGES/header_img.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo_box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3rem;
    }

    &__text_box {
        position: absolute;
        top: 40%;
        left: 50%;
        white-space: nowrap;
        transform: translate(-50%, -50%);
        text-align: center;
        
    }

}

.heading-primary {
    text-transform: uppercase;
    color: $color-white;
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2.5rem;
        animation: moveInLeft 1s;
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2.2rem; 
        animation: moveInRight 1s; 
    }
}

.btn {
    &:link,
    &:visited {
        display: inline-block;
        position: relative;
        color: $color-grey-dark;
        background-color: $color-white;
        text-decoration: $color-white;
        text-transform: uppercase;
        font-size: $default-font-size;
        padding: 1.5rem 4rem;
        margin-top: 2rem;
        transition: all .2s;
    }
    

    &:hover {
        transform: translateY(-.4rem); 
        -webkit-box-shadow: 1rem 1.4rem 3.1rem -.2rem rgba($color-black, 0.5);
        -moz-box-shadow: 1rem 1.4rem 3.1rem -.2rem rgba($color-black,0.5);
        box-shadow: 1rem 1.4rem 3.1rem -.2rem rgba($color-black,0.5); 

        &::after {
            transform: scale(1.5, 1.5);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(0);
        -webkit-box-shadow: .5rem .7rem 1.5rem -.1rem rgba($color-black,0.5);
        -moz-box-shadow: .5rem .7rem 1.5rem -.1rem rgba($color-black,0.5);
        box-shadow: .5rem .7rem 1.5rem -.1rem rgba($color-black,0.5);
    }

    &--white {
        border: .1rem solid $color-white;
        border-radius: 10rem;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 10rem;
        background-color: $color-white;
        transition: all .4s;
    }

    &--animated {
        animation: moveInUp ease-out .5s .75s backwards;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-80%);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(80%);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveInUp {
    0% {
        transform: translateY(5rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}