.composition {
    position: relative;
    
    &__photo {
        position: absolute;
        display: inline-block;
        width: 55%;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 1rem;
        }

        &--p3 {
            left:20%;
            top: 10rem;
        }
    }
}