.u-center-text {
    text-align: center;
    background-color: red($color: #000000);
    
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}